<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
	<add key ="connectionString" value ="Data Source=LAPTOP-19UAK0HV\SQLEXPRESS;
		 Initial Catalog=employerdb;
		 Integrated Security=True;
		 Connect Timeout=30;Encrypt=False;
		 TrustServerCertificate=False;
		 ApplicationIntent=ReadWrite;
		 MultiSubnetFailover=False"/>
	<add key="ClientSettingProvider.ServiceUri" value="" />
</appSettings>


</configuration>